//colors
$color_0: #f2eadc;
$color_1: #292E45;
$color_2: #F9F6F6;
$color_3: rgba(0, 0, 0, 0.42);
$color_4: #1a3d5e;
$color_5: #ec6654;
$color_6: #1a3d5e;
$color_7: #ec6654;
$color_8: #4e4e4e;
$color_9: #292E45;
$color_10: #4d4d4b;
$color_11: #1a3d5e;
$color_12: #292E45;
$color_13: #8ab3b5;
$color_14: #222222;
$color_15: #555;
$color_16: #1a3d5e;
$color_17: #ccc;
$color_18: #292E45;

//fonts
$font1: Anonymous Pro, serif;
$font2: Rubik, Arial, san-serif;
